
.main-mt {
  margin-top: 50px;
}

.mb-20 {
  margin-bottom: 20px;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.member-box {
  margin-top: 24px;
  padding: 30px;
  background: #f3f3f3;
  text-align: center;
}
.member-box .to-users__read {
  position: relative;
  text-align: center;
  color: #d84315;
  font-size: 18px;
  margin-bottom: 40px;
  font-weight: 600;
}

.member-box .to-users__read::after {
  content: "";
  display: block;
  width: 56px;
  height: 2px;
  background-color: #d84315;
  position: absolute;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
.member-box .btn {
  position: relative;
  display: inline-block;
  background-color: white;
  border: 1px solid #d84315;
  border-radius: 40px;
  font-weight: 600;
  padding: 10px 40px;
  margin: 10px auto;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #d84315;
  text-decoration: none !important;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}


.l-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.l-header__inner {
  width: 100%;
  padding: 0;
}
#top-header.fixed .l-header__logo,
#top-header .l-header__logo {
  width: 230px;
  padding: 10px;
  font-size: 0.7rem;
  line-height: 1.5;
}
.l-header__nav {
  font-size: 0.9em;
  position: absolute;
  top: -500px;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#top-header .l-header__nav-item a,
#top-header.fixed .l-header__nav-item a {
  width: 100%;
  display: block;
  color: #fff;
  padding: 18px 0;
}
.open .l-header__nav {
  /* .l-header__nav top + #mobile-head height */
  -webkit-transform: translateY(556px);
  transform: translateY(556px);
  background: #212121;
  z-index: 999;

}


.mobile__menu {
  background: #fff;
  width: 100%;
  height: 58px;
  z-index: 999;
  position: relative;
}

/* .mobile__toggle 切り替えアニメーション */
.open .mobile__toggle span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.open .mobile__toggle span:nth-child(2) {
  width: 0;
  left: 50%;
}

.open .mobile__toggle span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-315deg);
  transform: rotate(-315deg);
}

/* .l-header__nav スライドアニメーション */
.open .l-header__nav {
  /* .l-header__nav top + #mobile-head height */
  -webkit-transform: translateY(556px);
  transform: translateY(556px);
  background: #212121;
}

/* Toggle Button */
.mobile__toggle {
  position: absolute;
  right: 12px;
  top: 16px;
  width: 34px;
  height: 36px;
  cursor: pointer;
  z-index: 101;
}

.mobile__toggle div {
  position: relative;
}

.mobile__toggle span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #212121;
  left: 0;
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

.mobile__toggle span:nth-child(1) {
  top: 0;
}

.mobile__toggle span:nth-child(2) {
  top: 11px;
  width: 80%;
}

.mobile__toggle span:nth-child(3) {
  top: 22px;
}

@media screen and (max-width: 768px) {
  .main-mt {
    margin-top: 50px;
  }
}

@media screen and (min-width: 960px) {
  .l-header__inner {
    max-width: 1160px;
    margin: 0 auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .l-header__inner:after {
    content: "";
    clear: both;
    display: block;
  }
  .mobile__toggle {
    display: none;
  }
  /* header */
  #top-header {
    top: -100px;
    position: absolute;
    width: 100%;
    margin: 100px auto 0;
    line-height: 1;
    z-index: 999;
    background: #fff;
    height: 58px;
  }
  .mobile__menu {
    background: none;
    width: 28%;
  }
  .l-header__nav {
    position: static;
    top: 0;
    background: none;
    width: 70%;
    text-align: left;
    padding: 0;
  }
  .l-header__nav-list {
    font-size: 0.9rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #top-header .l-header__nav-item a,
  #top-header.fixed .l-header__nav-item a {
    padding: 0 1em;
    color: #212121;
  }
  /* Fixed */
  #top-header.fixed {
    margin-top: 0;
    top: 0;
    position: fixed;
    height: 58px;
    background: #fff;
    background: rgba(255, 255, 255, 0.7);
    transition: top 0.65s ease-in;
    -webkit-transition: top 0.65s ease-in;
    -moz-transition: top 0.65s ease-in;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  }
}



footer.l-footer {
  background: #212121;
  padding: 2em 0;
  color: white;
  text-align: center;
  font-size: 0.8rem;

  margin-top: auto;
}
.l-footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2em;
}

.l-footer__nav-item {
  padding-left: 10px;
}

.l-footer__nav-item:first-child {
  padding-left: 0;
}



.btn.btn-m-red {
  background-color: #d84315;
  color: white;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
}

.btn.btn-m-red:hover {
  background-color: white;
  color: #d84315;
  -webkit-box-shadow: none;
          box-shadow: none;
}